body {
    background: #221c1c;
    margin: 0;
    padding: 0;
}

header {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: hidden;
}

.row.banner {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    width: 85%;
}

.banner-text h1 {
    font: 90px/1.1em 'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 0 auto 18px auto;
}

.banner-text h2 {
    font-style: italic;
    color: #ddd;
    margin-bottom: 10px;
}

.banner-text hr {
    width: 60%;
    margin: 18px auto 24px auto;
    border-color: #2F2D2E;
    border-color: rgba(150, 150, 150, .1);
}

.social {
    margin: 24px 0;
    padding: 0;
    font-size: 30px;
}

.social li {
    display: inline-block;
    margin: 10px 20px;
    padding: 0;
    font-size: 20px;


}

.social li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.social li a:hover {
    background-color: #fff;
    color: #000;
}
.fa-database{
    margin-right: 10px;
    font-size: 20px;
}

.scrolldown {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.scrolldown a {
    color: #fff;
    display: block;
    height: 42px;
    width: 42px;
    font-size: 42px;
    line-height: 42px;
    border-radius: 100%;
}

.scrolldown a:hover {
    color: #0762f9;
}

div.particles-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.overview-container {
    background-color: #221c1c;
    padding: 50px;
    color: #fff;
    text-align: center;
}

.overview-container h2 {
    margin-bottom: 20px;
}

.overview-container p {
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
}

@media only screen and (max-width: 900px) {
    .row.banner {
        height: auto;
        min-height: auto;
    }

    .banner-text h1 {
        font-size: 68px;
    }

    .banner-text h2 {
        font-size: 24px;
    }

    .social {
        font-size: 24px;
    }

    .scrolldown {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .banner-text h1 {
        font-size: 40px;
        margin-bottom: 24px;
    }

    .banner-text h2 {
        font-size: 14px;
    }

    .social {
        font-size: 20px;
    }
}

.data-preprocessing-section {
    background-color: rgba(248, 249, 250, 0.8); 
    padding: 100px 0;
    background-image: url('../images/embeddings/data-background.jpeg');
    background-size: cover;  
    width: 100vw; 
    height: 40%;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 2%;
}

.data-preprocessing-section::after {
    content: "";
    background: url('../images/embeddings/data-background.jpeg');
    opacity: 0.8; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;

}
    

.section-title {
    font-size: 50px;
    font-weight: bold;
    color: #e5ecf3; 
}

.section-description {
    font-size: 20px;
    color: #e4e9ee; 
}
.parts {
    font-size: 50px; 
}

.first-content{
    color:white;
}

.data-processing-steps li{
    list-style-type: none; 
    font-size: 22px;

}

.step {
    position: relative;
}

.arrow {

    font-size: 50px; 
    color: rgb(252, 247, 247); 
    margin-left:30%;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}
.arrow3{
    left:100%;
    margin-left:60%;
}

.huggingfaceintro {
    background-color: rgb(31, 29, 29);
}
.zoom-on-hover:hover {
    transform: scale(1.05); 
  }
  

.about-text{
    color:black;
}