video {
    object-fit: cover;
    width: 100%;
    height: 86%;
    position: fixed;
    z-index: -1;
}
  
.hero-container {
    background: url('../images/cat-dog.jpg') center center/cover no-repeat;
    height: 100vh;
    width: 100%;
    opacity:0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: fade-in 3s;

}
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}

  
.hero-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
}

.hero-header{
  color: #fff;
    font-size: 100px;
}
.hero-paragh{
  margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}


  
.hero-container > p {
    margin-top: 8px;
    color: #fff;
    font-size: 32px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}
  
.hero-btns {
    margin-top: 32px;
}
  
.hero-btns .btn {
    margin: 6px;

}
.offering{
  font-size: 15px;

}
.offering {
  background-color: transparent;
  border: 2px solid #fff; 
  color: white;
  font-weight: bold; 
  transition: background-color 0.3s, color 0.3s; 
}

.offering:hover {
  background-color: #fff; 
  color: black; 
}

  
.fa-play-circle {
    margin-left: 4px;
}
  
@media screen and (max-width: 960px) {
    .hero-container > h1 {
      font-size: 70px;
      margin-top: -150px;
    }
}
  
@media screen and (max-width: 768px) {
    .hero-container > h1 {
      font-size: 50px;
      margin-top: -100px;
    }
  
    .hero-container > p {
      font-size: 30px;
    }
  
    .btn-mobile {
      display: block;
      text-decoration: none;
    }
}

  .motivation-container {
    background-color: #3e3f38; 
    padding: 80px 0;
    text-align: center;
    color: white;
  }
  
  .motivation-container h2 {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .motivation-container p {
    font-size: 20px;
    margin-bottom: 20px;
    margin-left:40px;
    margin-right:40px;
  }

  
.about-container {
    margin-top: 100px;
    margin-bottom: 100px;
  }
  
  .about-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%; 
    margin: 0 auto; 
  }
  
  .about-card {
    width: 45%; 
    background-color: #f8f9fa; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s ease; 
    margin-bottom: 20px; 
  }

  
  
  .about-card:hover {
    transform: scale(1.05); 
  }
  
  .about-text {
    margin-bottom: 20px; 
  }
  
  .about-text h2 {
    color: #333; 
  }
  
  .about-text p {
    color: #666; 
  }
  
  .about-card img {
    width: 100%;
    height: 100%;
    border-radius: 8px; 
  }


  @media (max-width: 768px) {
    .about-card {
      width: 100%;
    }
  }


  