.team-container {
    background: url('../images/teamwork.jpeg') center center/cover no-repeat;
    height: 86vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
  
.team-container > h1 {
    color: #fff;
    font-size: 100px;
    margin-top: -100px;
    text-align: center;
}

.profile-icons{

        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-left:35%;
        width: 100px;
        margin-top:10px;
}
.fa-brands{
    font-size: 35px;
    
}
.fa-linkedin{
    margin-right:15px;
    color:rgb(70, 110, 185);
}
.fa-github{
    color:black;
}
  

.teamintro {
    margin-top:20px;
    margin-bottom:30px;
}

.member{
    height:10%;
} 

.shravaniimg{
    width:50%;
    height:40%;
    margin-top: 20px;
}
.team-content {
    display: flex;
  }
  
  .team-card {
    flex: 1 1 60%;
    margin: 0px 20px;

  }
  .team-header{
    text-align: center;
    color:white;
    margin-top:50px;
    margin-bottom:20px;
    font-size: 60px;
  }